@import "../../styles/variables.scss";

input {
  margin-right: $ruler/2;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }

  &.has-error {
    border: 1px solid $color-red;
  }
}

.error {
  color: $color-red;
  margin: $ruler/2 $ruler*1.5;
}