@import "../../styles/variables.scss";


.radio-wrapper {
  margin: 8px 0;

  .state {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1e-5;
    pointer-events: none;

    &:checked~.label .indicator::after {
      transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
      opacity: 0;
    }

    &:focus~.label .text {
      transform: translate3d(8px, 0, 0);
      opacity: 1;
    }
  }

  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
    margin-bottom: 5px;

    &:hover .text {
      opacity: 1;
    }
  }

  .text {
    margin-left: 16px;
    opacity: .6;
    transition: opacity .2s linear, transform .2s ease-out;
  }

  .indicator {
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 10%;
      left: 10%;
      height: 80%;
      width: 80%;
      border-radius: 50%;
    }


    &:before {
      box-shadow:
        -4px -2px 4px 0px #d1d9e6,
        4px 2px 8px 0px #fff;
    }

    &:after {
      background-color: #ecf0f3;
      box-shadow:
        -4px -2px 4px 0px #fff,
        4px 2px 8px 0px #d1d9e6;
      transform: scale3d(1, 1, 1);
      transition: opacity .25s ease-in-out, transform .25s ease-in-out;
    }
  }
}